.title {
  font-size: 5rem;
  color: #2a2a2a;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.15;
}

.description {
  font-size: 2rem;
  color: #aaa;
  font-weight: 700;
}

.letter {
  color: #9a1b30;
}
